#users {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(167, 136, 167);
  border-radius: 25px;
  height: 100%;
  min-width: 75%;
  max-width: 95%;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  overflow: auto;
}

#users h2 {
  margin: 25px 5px;
}

#users p {
  margin: 5px;
  display: flex;
  align-items: center;
  font-size: 1.2em;
}

#users img {
  width: 10px;
  height: 10px;
  margin-right: 5px;
}
