* {
  font-family: "Open Sans", sans-serif;
}

body {
  height: 100vh;
  margin: 0px;
  background: rgb(99, 81, 99);
  background: linear-gradient(
    90deg,
    rgba(99, 81, 99, 1) 0%,
    rgba(113, 82, 82, 1) 60%,
    rgba(108, 99, 122, 1) 100%
  );
}

#root {
  height: 100%;
}
