#loginOuterContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#loginInnerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(167, 136, 167);
  background: linear-gradient(
    270deg,
    rgba(167, 136, 167, 1) 0%,
    rgba(179, 126, 126, 1) 57%,
    rgba(186, 172, 207, 1) 100%
  );
  padding: 25px;
  border-radius: 25px;
}

#loginInnerContainer img {
  width: 150px;
  height: auto;
}

#loginInnerContainer label,
input {
  display: block;
  text-align: center;
}

#loginInnerContainer label {
  font-weight: bold;
  color: rgb(0, 62, 134);
}

#loginInnerContainer div {
  margin: 5px;
}

#loginInnerContainer input,
select {
  padding: 5px;
  border: 1px solid transparent;
  border-radius: 10px;
  color: rgb(231, 231, 231);
  font-size: 1.2em;
  background-color: rgb(104, 0, 114);
  margin: 5px;
}

#loginInnerContainer button {
  color: rgb(231, 231, 231);
  font-size: 1.4em;
  padding: 5px 15px;
  background-color: rgba(19, 0, 37, 0.315);
  border: 1px solid transparent;
  border-radius: 5px;
  transition: 0.2s; /* Animation */
}

#loginInnerContainer button:disabled {
  color: rgb(95, 95, 95);
  background-color: rgba(94, 94, 94, 0.329);
}

#loginInnerContainer button:disabled:hover {
  transform: scale(1);
  cursor: not-allowed;
  background-color: rgba(94, 94, 94, 0.329);
}

#loginInnerContainer button:hover {
  cursor: pointer;
  background-color: rgba(19, 0, 37, 0.76);
}
